<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div class="page">
    <% include components/top.inc.ejs %>
    <div class="content-wrap">

        我是管理banner的
    <form action="?" method="post" enctype="multipart/form-data">
        标题： <input type="text" name="title"/> <br/>
        描述： <textarea type="text" name="description"> </textarea> <br/>
        头像： <input type="file" name="f1"/> <br/>
        <input type="submit" value="提交"> <br/>
    </form><br/>

        <table border="1" width="100%">
            <thead>
                <tr>
                    <td>id</td>
                    <td>标题</td>
                    <td>描述</td>
                    <td>链接</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < valueData.length; i++) {%>
                <tr>
                    <td><%=valueData[i].id%></td>
                    <td><%=valueData[i].title%></td>
                    <td><%=valueData[i].description%></td>
                    <td><img width="40" height="40" src="/upload/<%=valueData[i].src%>"></td>
                    <td>
                        <a href="?act=mod&id=<%=valueData[i].id%>">修改</a>
                        <a href="?act=del&id=<%=valueData[i].id%>" onclick="return confirm('确定删除吗？')">删除</a>
                    </td>
                </tr>
            <%}%>
            </tbody>
        </table>

        <% if(typeof mod_data!='undefined'){ %>
        <div class="shadow"></div>
        <div class="mod_dialog">
            <form action="?" method="post" enctype="multipart/form-data">
                <input type="hidden" name="mod_id" value="<%= mod_data.id %>" />
                标题：<input type="text" name="title" value="<%= mod_data.title %>" /><br>
                描述：<textarea name="description"><%= mod_data.description %></textarea><br>
                头像：<input type="file" name="f1" /><br>
                <input type="submit" value="修改"/>
                <a href="/admin/custom">取消修改</a>
            </form>
        </div>
        <% } %>

    </div>
</div>
</body>
</html>
